# Gradle
.gradle/
build/
out/

# IDE
.idea/
*.iml
*.ipr
*.iws
.vscode/
*.code-workspace

# Eclipse
.classpath
.project
.settings/

# Fabric
run/
logs/

# OS
.DS_Store
Thumbs.db

# Misc
*.log
*.jar
!gradle/wrapper/*.jar
!releases/**/*.jar
gradle.zip
